/* CUSTOM PROPS */
:root{
    --color-beige: #F3D7B7;
    --color-brown: #C99B67;
    --color-marsh: #0A775F;
    --text-color: #333;
}
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;

}

*,
*::before,
*::after{
    box-sizing: inherit;

}


body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;

}

img{
    max-width: 100%;
    height: auto;

}

*:focus{
    outline: 2px dashed #7296ec;
}
/* button */
.button{
    display: inline-block;
    text-align: center;
    font-style: normal;
    border: 0;
    font-weight: 500;
    line-height: 19px;
    padding: 16px 24px;
    border-radius: 100px;
    letter-spacing: 1px;
    text-decoration: none;
    cursor: pointer;
    font-variant: small-caps;
    transition: background-color 0.6s ease;
}

.button:active{
    opacity: 0.6;
}

.button-marsh{
    background-color: var(--color-marsh);
    color: #ffffff;
}

.button-marsh:hover{
    background-color: var(--color-brown);
}

/* visually-hidden */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container{
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    
}


.main{
    flex-grow: 1;
}